*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*body{*/
/*  background: url("https://images.unsplash.com/photo-1572916118992-5e36d71f7f5c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");*/
/*  height: 100vh;*/
/*  width: 100%;*/
/*}*/
a{
  text-decoration: none;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col-3{
  width: 25%;
  padding: 0 15px;
}
img{
  width: 100%;

}
.box{
  margin-bottom: 30px;
}
.box h3{
  padding: 20px;
}
.col-details{
  width: 50%;
  padding: 0 15px;
}
.meal-name{
color: burlywood ;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 0;
}
.img{
  display: flex;
  flex-wrap: wrap;
}
.ingredients{
  display: flex;
}
.ingredients-image{
  width: 100px;
}
.search{
  text-align: center;
}
/*.img-col{*/
/*  display: flex;*/
/*  width: 25%;*/
/*}*/
.ingr-img{
  /*display: inline;*/
  width: 25%;
}